<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/default_layout}"
      layout:fragment="Content">
<body>
	<div class="container">
		<form name="insertForm" th:action="@{/boardInsert}" method="post">
			<table class="table">
				<tr>
					<th>제목</th>
					<td><input type="text" name="title"></td>
				</tr>
				<tr>
					<th>작성자</th>
					<td><input type="text" name="writer"></td>
				</tr>
				<tr>
					<th>내용</th>
					<td><textarea name="contents"></textarea></td>
				</tr>
				<tr>
					<th>첨부이미지</th>
					<td><input type="text" name="image"></td>
				</tr>
				<tr>
					<th>작성일자</th>
					<td><input type="date" name="regdate" placeholder="yyyy/MM/dd"></td>
				</tr>
				<tr>
					<td colspan="2">
						<button type="submit">등록</button>
					</td>
				</tr>
			</table>
		</form>
	</div>
	<script>
		$(insertForm).on('submit', function(event){
			event.preventDefault();
			
			let titleTag = $(insertForm).find('[name="title"]');
			if(titleTag.val() == ''){
				titleTag.focus();
				alert('제목이 입력되지 않았습니다.');
				return;
			}
			
			let writerTag = $(insertForm).find('[name="writer"]');
			if(writerTag.val() == ''){
				writerTag.focus();
				alert('작성자가 입력되지 않았습니다.');
				return;
			}
			
			alert('게시글이 정상적으로 등록되었습니다.');
			insertForm.submit();
		})
	</script>
</body>
</html>