<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
</head>
<body>
	<div>
		<h3>전체 부서조회</h3>
		<table class="table">
			<thead>
				<tr>
					<th>No.</th>
					<th>부서번호</th>
					<th>부서이름</th>
					<th>관리자번호</th>
					<th>지역번호</th>
				</tr>
			</thead>
			<tbody>
				<th:block th:each="info, sts : ${departs}">
					<!-- 반복하고자 하는 태그 -->
					<tr>
						<td>[[ ${sts.count} ]]</td>
						<td>[[ ${info.departmentId} ]]</td>
						<td>[[ ${info.departmentName} ]]</td>
						<td>[[ ${info.managerId} ]]</td>
						<td>[[ ${info.locationId} ]]</td>
					</tr>
				</th:block>
			</tbody>
		</table>
	</div>
</body>
</html>