<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
</head>
<body>
	<div>
		<h3>전체 사원조회</h3>
		<table class="table">
			<thead>
				<tr>
					<th>No.</th>
					<th>사원번호</th>
					<th>이름</th>
					<th>입사일자</th>
					<th>업무</th>
				</tr>
			</thead>
			<tbody>
				<th:block th:each="info, sts : ${emps}">
					<!-- 반복하고자 하는 태그 -->
					<tr>
						<td>[[ ${sts.count} ]]</td>
						<td>[[ ${info.employeeId} ]]</td>
						<td>[[ ${info.lastName} ]]</td>
						<!--/* <td>[[ ${info.hireDate} ]]</td> */-->
						<td>[[ ${#dates.format(info.hireDate, 'yyy년MM월dd일')} ]]</td>
						<td>[[ ${info.jobId} ]]</td>
					</tr>
				</th:block>
			</tbody>
		</table>
	</div>
</body>
</html>